.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 1rem;
}

.fancybox__backdrop {
	background: rgba(0, 0, 0, 0.83);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	position: relative;
	display: none;
	border-radius: 0.5625rem;
	color: #fff;
	padding: 1.44rem 1rem;
	text-align: center;
	max-width: 100%;
	width: 100%;
	background: linear-gradient(90deg, #8a6ff2 0%, #02e8a4 100%);
	@media (min-width: $md5) {
		border-radius: 1.375rem;
		padding: 3rem rem(30);
		max-width: 55.5rem;
	}
	&::after {
		content: '';
		position: absolute;
		inset: rem(2);
		background: #0f172b;
		z-index: -1;
		border-radius: 0.5rem;
		@media (min-width: $md5) {
			border-radius: 1.375rem;
		}
	}
	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background: linear-gradient(90deg, #8a6ff2 0%, #02e8a4 100%);
		filter: blur(rem(31));
		z-index: -1;
		border-radius: 0.5rem;
		@media (min-width: $md5) {
			border-radius: 1.375rem;
		}
	}
	&#congratulations {
		.popup__text {
			margin-top: 1.5rem;
			@media (min-width: $md2) {
				margin-top: 4rem;
			}
		}
		.popup__btn {
			@media (min-width: $md2) {
				margin-top: 3.5rem;
			}
		}
		.popup__content {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				width: 4.5rem;
				height: 3rem;
				bottom: -2.5rem;
				left: -2.75rem;
				@media (min-width: $md5) {
					bottom: -5.5rem;
					left: -5rem;
					width: 10rem;
					height: 7rem;
				}
				background: url('@img/gem.png') center / contain no-repeat;
				pointer-events: none;
			}
			&::after {
				content: '';
				position: absolute;
				width: 5.5rem;
				height: 3rem;
				right: -3.5rem;
				top: -2.5rem;
				@media (min-width: $md5) {
					top: -6rem;
					right: -6.5rem;
					width: 12rem;
					height: 8rem;
				}
				background: url('@img/gem-2.png') center / contain no-repeat;
				pointer-events: none;
			}
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .popup__title
	&__title {
		font-weight: 700;
		font-size: 1.5rem;
		text-transform: uppercase;
		line-height: 1;
		max-width: 36.5rem;
		margin: 0 auto;
		@media (min-width: $md5) {
			font-size: 3.75rem;
		}
	}
	// .popup__text
	&__text {
		text-align: center;
		font-weight: 700;
		line-height: 109%;
		text-transform: uppercase;
		font-size: 1.25rem;
		margin-top: 0.75rem;
		@media (min-width: $md5) {
			margin-top: 1.81rem;
			font-size: 3.4375rem;
		}
	}
	// .popup__btn
	&__btn {
		margin-top: rem(16);
		@media (min-width: $md2) {
			margin-top: rem(28);
		}
	}
}
