.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 1rem;
}

.fancybox__backdrop {
	background: rgba(0, 0, 0, 0.83);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	position: relative;
	display: none;
	border-radius: 0.5rem;
	border: rem(2) solid #7a7474;
	background: #000;
	color: #fff;
	padding: 1.74rem 3.2rem 1.53rem;
	text-align: center;
	max-width: 20rem;
	width: 100%;
	@media (min-width: $md5) {
		padding: 4.31rem rem(60) 3rem;
		max-width: 41.5rem;
	}
	& [data-fancybox-close] {
		top: 0 !important;
		right: 0 !important;
		@media (min-width: $md5) {
			top: 1rem !important;
			right: 1rem !important;
		}
	}
	&::before {
		content: "";
		position: absolute;
		width: rem(80);
		height: rem(100);
		left: -1.5rem;
		top: -2.5rem;
		@media (min-width: $md5) {
			top: -4rem;
			left: -4rem;
			width: rem(159);
			height: rem(171);
		}
		pointer-events: none;
		background: url("@img/inferno-joker.png") center / contain no-repeat;
	}
	&::after {
		content: "";
		position: absolute;
		width: rem(130);
		height: rem(130);
		bottom: -3.5rem;
		right: -2rem;
		@media (min-width: $md5) {
			width: rem(266);
			height: rem(266);
			bottom: -6rem;
			right: -6rem;
		}
		pointer-events: none;
		background: url("@img/symbol_bar.png") center / contain no-repeat;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .popup__title
	&__title {
		font-weight: 700;
		font-size: 1.75rem;
		@media (min-width: $md5) {
			font-size: 3.75rem;
		}
	}
	// .popup__text
	&__text {
		font-size: 1.425rem;
		margin-top: 0.82rem;
		@media (min-width: $md5) {
			margin-top: 1.5rem;
			font-size: 3.0625rem;
		}
		font-weight: 600;
		line-height: 100%;
		& span {
			font-weight: 700;
		}
	}
	// .popup__btn
	&__btn {
		background: linear-gradient(270deg, #00ec9e 0%, #8e6efa 100%);
		font-weight: 600;
		line-height: 100%;
		text-transform: uppercase;
		border-radius: em(0.875, 2.4375);
		padding: em(2, 2.4375) em(5.06, 2.4375) em(2, 2.4375);
		width: fit-content;
		width: auto;
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 1;
		font-size: 1.15rem;
		margin: 1rem auto 0;
		text-align: center;
		@media (min-width: $md5) {
			min-width: rem(373);
			padding: em(1.5, 2.4375) rem(30) em(1.7, 2.4375);
			margin: 2.5rem auto 0;
			font-size: 2.4375rem;
		}
		&::before {
			content: "";
			position: absolute;
			inset: em(0.25, 2.4375);
			background: #313131;
			z-index: -1;
			border-radius: em(0.75, 2.4375);
			transition: background-color 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					background: #131313;
				}
			}
		}
	}
}
