.login {
	padding: 0 0 1rem 0;
	@media (min-width: $md4) {
		padding: 4.35rem 0;
	}
	// .login__container
	&__container {
	}
	// .login__body
	&__body {
		border-radius: 0.625rem;
		border: rem(1.5) solid rgba(255, 255, 255, 0.12);

		backdrop-filter: blur(rem(21));
		-webkit-backdrop-filter: blur(rem(21));
		text-align: center;
		background: #190f17;
		padding: 2.5rem 1.13rem 5rem;
		@media (min-width: $md4) {
			padding: 2.75rem 2.75rem 5.75rem;
			background: url("@img/sign-decor.png") 0 center / rem(220) auto no-repeat, url("@img/sign-decor-2.png") 100% 60% / rem(180) auto no-repeat,
				url("@img/sign-bg.svg") 0 0 / cover no-repeat, #190f17;
		}
		@media (min-width: $md3) {
			background: url("@img/sign-decor.png") 0rem center / rem(320) auto no-repeat, url("@img/sign-decor-2.png") 100% 60% / rem(320) auto no-repeat,
				url("@img/sign-bg.svg") 0 0 / cover no-repeat, #190f17;
		}
		@media (min-width: $md2) {
			background: url("@img/sign-decor.png") 2rem -0.5rem / rem(433) auto no-repeat, url("@img/sign-decor-2.png") calc(100% - 0.65rem) 85% / rem(402) auto no-repeat,
				url("@img/sign-bg.svg") 0 0 / cover no-repeat, #190f17;
		}
	}
	// .login__title
	&__title {
		@media (min-width: $md4) {
			text-transform: none;
		}
	}
	// .login__subtitle
	&__subtitle {
		margin-top: 1rem;
		font-size: 1rem;
		font-weight: 300;
		line-height: 131%;
		@media (min-width: $md4) {
			color: rgba(255, 255, 255, 0.33);
			line-height: normal;
			font-weight: 400;
			font-size: 0.9375rem;
			margin-top: 1.7rem;
		}
	}
	// .login__form
	&__form {
		max-width: 23.125rem;
		display: flex;
		flex-direction: column;
		gap: 0.87rem;
		.form__sign {
			margin-top: 1.06rem;
		}
		margin: 1.75rem auto 0;
		@media (min-width: $md4) {
			margin: 2.25rem auto 0;
		}
	}
}
