@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600,700,800);

html {
  font-size: 4.4444444444vw;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  min-width: 320px;
  min-height: 100%;
  line-height: normal;
  color: #fff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: url("../img/mobile-bg.jpg") center 0/cover no-repeat;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 1rem;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.85);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  position: relative;
  display: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem 1.5rem 1.53rem;
  text-align: center;
  max-width: 20rem;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#00ec9e), to(#8e6efa));
  background: linear-gradient(270deg, #00ec9e 0%, #8e6efa 100%);
  -webkit-box-shadow: 0 0 2.5rem rgba(0, 236, 158, 0.5);
          box-shadow: 0 0 2.5rem rgba(0, 236, 158, 0.5);
}

.popup [data-fancybox-close] {
  top: 0 !important;
  right: 0 !important;
}

.popup::before {
  content: "";
  position: absolute;
  width: 4.375rem;
  height: 4.375rem;
  right: -1.5rem;
  top: -1.5rem;
  pointer-events: none;
  background: url("../img/Sweet-Bonanza.png") center/contain no-repeat;
}

.popup::after {
  content: "";
  position: absolute;
  width: 4.375rem;
  height: 4.375rem;
  bottom: -1.5rem;
  left: -1rem;
  pointer-events: none;
  background: url("../img/Scatter_multiplier_1000X.png") center/contain no-repeat;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content::before {
  content: "";
  position: absolute;
  inset: 0.25rem;
  border-radius: 1.375rem;
  background: #0f172b;
  z-index: -1;
}

.popup__title {
  font-weight: 700;
  font-size: 1.48588rem;
  text-transform: uppercase;
}

.popup__text {
  font-size: 1.125rem;
  margin-top: 0.5rem;
  line-height: 109%;
  text-transform: uppercase;
  font-weight: 700;
}

.popup__btn {
  margin: 1rem auto 0;
  width: auto;
}

.gradient-text {
  background-image: -webkit-gradient(linear, right top, left top, from(#00ec9e), to(#8e6efa));
  background-image: linear-gradient(270deg, #00ec9e 0%, #8e6efa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.btn {
  position: relative;
  z-index: 1;
  font-weight: 700;
  line-height: 140%;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.53125em;
  letter-spacing: 0.01em;
  padding: 0.5em 1.5em;
}

.btn.btn-primary {
  background: linear-gradient(95deg, #8a6ff2 0.83%, #02e8a4 99.17%);
  color: #0f172b;
}

.btn.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0fdeab;
  z-index: -1;
  -webkit-filter: blur(2.9375rem);
          filter: blur(2.9375rem);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #352c33;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=__container] {
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 100%;
  padding: 0 0.9375rem;
  max-width: 103.75rem;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding: 1.37rem 0;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  width: 8rem;
}

.header__title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1;
  width: 100%;
  font-weight: 500;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer {
  position: relative;
  z-index: 2;
  padding: 0.93rem 0 1.8rem;
  background: #050505;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

.footer__logo img {
  width: 3.40569rem;
}

.footer__age img {
  width: 2.25rem;
}

.footer__feedback {
  font-size: 0.875rem;
}

.footer__feedback a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__links {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.62rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60%;
  margin-top: 1rem;
}

.footer__payment img {
  max-height: 1.49069rem;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0 0em 8.4375rem 0em;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__title {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 109%;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5rem;
}

.main__image {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  width: 14.07006rem;
  bottom: -1rem;
  left: -1rem;
}

.main__image-mobile {
  position: absolute;
  bottom: -17rem;
  right: -1rem;
  width: 16.5rem;
  z-index: 2;
  pointer-events: none;
}

.main__spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.main__spinner-main {
  padding: 7% 6.5% 6.5%;
  position: relative;
}

.main__spinner-main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/wheel-border.png") center/contain no-repeat;
  pointer-events: none;
  z-index: 2;
}

.main__spinner-image {
  position: relative;
}

.main__spinner-image img {
  width: 100%;
}

.main__spinner-wheel {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.main__spinner-selector {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  top: -1.5rem;
}

.main__spinner-selector img {
  width: 2.7rem;
}

.main__spinner-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/btn-bg.png") center/contain no-repeat;
  color: #fff;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-size: 1.0625rem;
  width: 5rem;
  height: 5rem;
  text-shadow: rgb(0, 0, 0) 0.0625rem 0 0, rgb(0, 0, 0) 0.033768875rem 0.0525919375rem 0, rgb(0, 0, 0) -0.0260091875rem 0.0568310625rem 0, rgb(0, 0, 0) -0.0618745rem 0.00882rem 0, rgb(0, 0, 0) -0.04085275rem -0.047300125rem 0rem, rgb(0, 0, 0) 0.017728875rem -0.05993275rem 0, rgb(0, 0, 0) 0.060010625rem -0.0174634375rem 0;
}

.main__spinner-btn span {
  pointer-events: none;
  -webkit-animation: pulse 1s ease infinite;
          animation: pulse 1s ease infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(var(--rotate-degrees));
            transform: rotate(var(--rotate-degrees));
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(var(--rotate-degrees));
            transform: rotate(var(--rotate-degrees));
  }
}

.dot {
  position: absolute;
  z-index: 2;
  height: 1.35%;
  width: 1.35%;
  border-radius: 50%;
  background-color: #fff;
  mix-blend-mode: screen;
  pointer-events: none;
}

.dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6.25rem;
  height: 6.25rem;
  background: url("../img/flash.png") center/contain no-repeat;
  mix-blend-mode: screen;
}

.dot:nth-child(1) {
  right: 40.9%;
  top: 5.7%;
}

.dot:nth-child(2) {
  right: 24.5%;
  top: 12.7%;
}

.dot:nth-child(3) {
  right: 12.6%;
  top: 24.6%;
}

.dot:nth-child(4) {
  right: 6.1%;
  top: 40.1%;
}

.dot:nth-child(5) {
  right: 5.8%;
  top: 58.5%;
}

.dot:nth-child(6) {
  right: 12.5%;
  top: 74%;
}

.dot:nth-child(7) {
  bottom: 12.8%;
  right: 24.4%;
}

.dot:nth-child(8) {
  bottom: 5.8%;
  right: 40.9%;
}

.dot:nth-child(9) {
  bottom: 6%;
  right: 58.2%;
}

.dot:nth-child(10) {
  bottom: 12.6%;
  right: 74.6%;
}

.dot:nth-child(11) {
  bottom: 24.8%;
  right: 86.5%;
}

.dot:nth-child(12) {
  bottom: 40.1%;
  left: 5.4%;
}

.dot:nth-child(13) {
  bottom: 58.4%;
  left: 5.5%;
}

.dot:nth-child(14) {
  bottom: 73.8%;
  left: 12.1%;
}

.dot:nth-child(15) {
  bottom: 85.7%;
  left: 24.1%;
}

.dot:nth-child(16) {
  top: 5.9%;
  left: 40.3%;
}

.dot:nth-child(17) {
  bottom: 36.5%;
  left: 4%;
}

.dot:nth-child(18) {
  left: 2.3%;
  top: 48.3%;
}

.dot:nth-child(19) {
  left: 36.3%;
  top: 4.7%;
}

.dot:nth-child(20) {
  left: 25.3%;
  top: 9%;
}

.dot:nth-child(21) {
  left: 15.8%;
  top: 16.3%;
}

.dot:nth-child(22) {
  left: 8.5%;
  top: 25.8%;
}

.dot:nth-child(23) {
  left: 4%;
  top: 36.8%;
}

@media (min-width: 575.98px) {
  html {
    font-size: 1.5625vw;
  }

  .popup {
    border-radius: 1.375rem;
    padding: 1.875rem 3.75rem 2.69rem;
    max-width: 55.75rem;
  }

  .popup [data-fancybox-close] {
    top: 1rem !important;
    right: 1rem !important;
  }

  .popup::before {
    top: -5rem;
    right: -4rem;
    width: 12rem;
    height: 12rem;
  }

  .popup::after {
    width: 8rem;
    height: 8rem;
    bottom: -3rem;
    left: -3rem;
  }

  .popup__title {
    font-size: 3.875rem;
  }

  .popup__text {
    margin-top: 1.5rem;
    font-size: 3.4375rem;
  }

  .popup__btn {
    min-width: 23.3125rem;
    margin: 2.5rem auto 0;
  }

  .btn {
    padding: 0.625em 1.72em;
    font-size: 2rem;
  }

  .header__logo {
    width: auto;
  }

  .header__title {
    font-weight: 700;
    font-size: 2rem;
  }

  .footer {
    padding: 1.81rem 0;
  }

  .footer__container {
    gap: 2rem;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__links {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 2rem);
            flex: 0 0 calc(50% - 2rem);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__payments {
    margin-top: 0;
    max-width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 2rem);
            flex: 0 0 calc(50% - 2rem);
  }

  .footer__payment img {
    max-height: 1.898rem;
  }

  .main__title {
    font-size: 4rem;
    padding-bottom: 5rem;
  }

  .main__image {
    left: 0;
    bottom: -5rem;
    width: 34.04388rem;
  }

  .main__image-mobile {
    width: 26rem;
  }

  .main__spinner-selector {
    top: -3.5rem;
  }

  .main__spinner-selector img {
    width: 5.91275rem;
  }

  .main__spinner-btn {
    width: 10.625rem;
    height: 10.625rem;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 0.02438rem;
    text-transform: uppercase;
  }

  .dot::before {
    width: 8.75rem;
    height: 8.75rem;
  }
}

@media (min-width: 743.98px) {
  .main__spinner-image {
    width: 60%;
  }
}

@media (min-width: 991.98px) {
  html {
    font-size: 1.3541666667vw;
  }

  .header {
    padding: 3rem 0 0rem;
  }
}

@media (min-width: 1199.98px) {
  html {
    font-size: 0.8333333333vw;
  }

  body.lock {
    overflow: visible;
  }

  .wrapper {
    background: url("../img/bg.jpg") center 0/cover no-repeat;
  }

  .header__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .header__logo {
    width: 15.5rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .header__title {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .footer__links {
    padding-left: 8.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .footer__payments {
    margin-left: 2rem;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .main {
    padding: 2rem 0em 0em 0em;
  }

  .main__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .main__title {
    text-align: left;
    line-height: 114%;
    padding-bottom: 8rem;
  }

  .main__image-mobile {
    display: none;
  }

  .main__spinner {
    margin-right: 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.9375rem;
            flex: 0 0 45.9375rem;
  }

  .main__spinner-image {
    width: 100%;
  }
}

@media (min-width: 1919.98px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .header__title {
    max-width: 14.25rem;
    margin: 0 auto;
  }

  .footer__age {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}

@media (any-hover: hover) {
  .btn.btn-primary:hover::before {
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #683df8;
  }

  .footer__feedback a:hover {
    color: #8e6efa;
  }

  .footer__link:hover {
    color: #8e6efa;
  }
}