@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600,700,800);

html {
  font-size: 4.2666666667vw;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  color: #fff;
  background-color: #0f172b;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: url("../img/bg-mobile.png") center 0/cover no-repeat;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 1rem;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.83);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  position: relative;
  display: none;
  border-radius: 1.375rem;
  background: #0f172b;
  -webkit-box-shadow: 0 0.25rem 2.8125rem 0 #00dc83;
          box-shadow: 0 0.25rem 2.8125rem 0 #00dc83;
  color: #fff;
  padding: 1.74rem 1rem 1.53rem;
  text-align: center;
  font-family: Rubik;
  width: 100%;
  border: 0.125rem solid #00dc83;
}

.popup [data-fancybox-close] {
  top: 0 !important;
  right: 0 !important;
}

.popup::before {
  content: "";
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  left: -2.5rem;
  top: -2.5rem;
  pointer-events: none;
  background: url("../img/screen.png") center/contain no-repeat;
}

.popup::after {
  content: "";
  position: absolute;
  width: 6.875rem;
  height: 6.875rem;
  bottom: -3.5rem;
  right: -2rem;
  pointer-events: none;
  background: url("../img/maxresdefault.png") center/contain no-repeat;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__title {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #00dc83;
}

.popup__text {
  font-size: 1.425rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 109%;
}

.popup__text span {
  color: #00dc83;
}

.popup__btn {
  border-radius: 0.62069rem;
  background: #00dc83;
  color: #0f172b;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 0.358974359em;
  padding: 0.6153846154em 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 1.15rem;
  margin: 1.5625rem auto 0;
  text-align: center;
}

.neon-text {
  color: #01dd83;
  text-shadow: 0px 3.373px 3.373px rgba(0, 0, 0, 0.25), 0px 2px 61.5px #00ffa3;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #352c33;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=__container] {
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 100%;
  padding: 0 0.9375rem;
  max-width: 112.5rem;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding: 2.25rem 0 0rem;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 106.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.header__logo {
  width: 8.4375rem;
}

.header__title {
  color: #fff;
  text-align: center;
  text-shadow: 0 0.2108125rem 0.2108125rem rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.625rem;
  margin-top: 0.5rem;
  font-weight: 800;
}

.header__title span {
  margin-top: 0.5rem;
  font-size: 1.625rem;
}

.footer {
  padding: 0.93rem 0 1.8rem;
  background: #050505;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.footer__logo img {
  width: 3.40569rem;
}

.footer__age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  max-width: 14rem;
}

.footer__age img {
  width: 2.25rem;
}

.footer__feedback {
  font-size: 0.875rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
}

.footer__links {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.06rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.69rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer__payment img {
  max-height: 1.0995rem;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding: 1rem 0 0 0;
  position: relative;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 120rem;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__image {
  position: relative;
  z-index: 3;
  display: none;
}

.main__image:first-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main__image:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.main__image img {
  width: 100%;
}

.main__image-mobile {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: auto;
}

.main__spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: -8rem;
}

.main__spinner-main {
  padding: 7% 6.5% 6.5%;
  position: relative;
}

.main__spinner-main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/wheel-border.svg") center/contain no-repeat;
  pointer-events: none;
  z-index: 2;
}

.main__spinner-image {
  position: relative;
}

.main__spinner-image img {
  width: 100%;
}

.main__spinner-wheel {
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.main__spinner-selector {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.main__spinner-selector img {
  width: 2.8235rem;
}

.main__spinner-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/btn-bg.png") center/contain no-repeat;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-shadow: 0 0.310375rem 0.310375rem rgba(0, 0, 0, 0.25);
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-size: 1.1875rem;
  width: 8.125rem;
  height: 8.125rem;
}

.main__spinner-btn span {
  pointer-events: none;
  color: #fff;
  position: relative;
  z-index: 2;
  -webkit-animation: pulse 1s ease infinite;
          animation: pulse 1s ease infinite;
}

.main__spinner-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01dd83;
  border-radius: 50%;
  -webkit-filter: blur(24px);
          filter: blur(24px);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(var(--rotate-degrees));
            transform: rotate(var(--rotate-degrees));
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(var(--rotate-degrees));
            transform: rotate(var(--rotate-degrees));
  }
}

.dot {
  position: absolute;
  z-index: 2;
  height: 3.5%;
  width: 3.5%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  -webkit-filter: drop-shadow(0 0 10px #ffffff);
          filter: drop-shadow(0 0 10px #ffffff);
}

.dot:nth-child(1) {
  right: 36.3%;
  top: 4.6%;
}

.dot:nth-child(2) {
  right: 25.3%;
  top: 9%;
}

.dot:nth-child(3) {
  right: 15.8%;
  top: 16.4%;
}

.dot:nth-child(4) {
  right: 8.5%;
  top: 25.5%;
}

.dot:nth-child(5) {
  right: 4%;
  top: 36.5%;
}

.dot:nth-child(6) {
  right: 2.5%;
  top: 48.5%;
}

.dot:nth-child(7) {
  bottom: 36.5%;
  right: 4%;
}

.dot:nth-child(8) {
  bottom: 25.5%;
  right: 8.5%;
}

.dot:nth-child(9) {
  bottom: 15.8%;
  right: 15.8%;
}

.dot:nth-child(10) {
  bottom: 8.5%;
  right: 25.4%;
}

.dot:nth-child(11) {
  bottom: 4%;
  right: 36.5%;
}

.dot:nth-child(12) {
  bottom: 2.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dot:nth-child(13) {
  bottom: 4%;
  left: 36.5%;
}

.dot:nth-child(14) {
  bottom: 8.5%;
  left: 25.4%;
}

.dot:nth-child(15) {
  bottom: 16%;
  left: 15.8%;
}

.dot:nth-child(16) {
  bottom: 25.5%;
  left: 8.5%;
}

.dot:nth-child(17) {
  bottom: 36.5%;
  left: 4%;
}

.dot:nth-child(18) {
  left: 2.3%;
  top: 48.3%;
}

.dot:nth-child(19) {
  left: 36.3%;
  top: 4.7%;
}

.dot:nth-child(20) {
  left: 25.3%;
  top: 9%;
}

.dot:nth-child(21) {
  left: 15.8%;
  top: 16.3%;
}

.dot:nth-child(22) {
  left: 8.5%;
  top: 25.8%;
}

.dot:nth-child(23) {
  left: 4%;
  top: 36.8%;
}

@media (min-width: 575.98px) {
  html {
    font-size: 1.5625vw;
  }

  .wrapper {
    background: url("../img/bg.png") center 0/cover no-repeat;
  }

  .popup {
    border: 0.375rem solid #00dc83;
    padding: 3rem 2.4rem 3.75rem;
    max-width: 49rem;
  }

  .popup [data-fancybox-close] {
    top: 1rem !important;
    right: 1rem !important;
  }

  .popup::before {
    top: -8.75rem;
    left: -9.5rem;
    width: 18.75rem;
    height: 20rem;
  }

  .popup::after {
    width: 15rem;
    height: 16.625rem;
    bottom: -6rem;
    right: -7rem;
  }

  .popup__title {
    font-size: 3.875rem;
  }

  .popup__text {
    margin-top: 1.5rem;
    font-size: 2.56569rem;
  }

  .popup__btn {
    min-width: 23.3125rem;
    padding: 0.4102564103em 5rem 0.6974358974em;
    margin: 3rem auto 0;
    font-size: 2.48275rem;
  }

  .header__logo {
    width: auto;
  }

  .header__title {
    margin-top: 0;
    font-size: 3.1875rem;
  }

  .header__title span {
    font-size: 3.75rem;
  }

  .footer {
    padding: 1.06rem 0;
  }

  .footer__container {
    gap: 2rem;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__links {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 2rem);
            flex: 0 0 calc(50% - 2rem);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__payments {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 2rem);
            flex: 0 0 calc(50% - 2rem);
  }

  .footer__payment img {
    max-height: 1.8125rem;
  }

  .main {
    padding: 0;
  }

  .main__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .main__image-mobile {
    display: none;
  }

  .main__spinner {
    margin-bottom: -16rem;
  }

  .main__spinner-selector img {
    width: 6.75rem;
  }

  .main__spinner-btn {
    width: 15.375rem;
    height: 15.375rem;
    font-size: 3.11956rem;
  }
}

@media (min-width: 743.98px) {
  .main__spinner-image {
    width: 60%;
  }
}

@media (min-width: 991.98px) {
  html {
    font-size: 1.3541666667vw;
  }

  .header {
    padding: 4.5rem 0 2rem;
  }

  .header__title {
    max-width: 80%;
  }
}

@media (min-width: 1199.98px) {
  html {
    font-size: 0.8333333333vw;
  }

  body.lock {
    overflow: visible;
  }

  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .header__logo {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 16.25rem;
  }

  .header__title {
    margin: 0 auto;
    max-width: 82.5rem;
  }

  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .footer__links {
    padding-left: 4.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0 auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .footer__payments {
    margin-left: 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .main__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .main__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .main__image:first-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 57.3125rem;
    margin-right: -8rem;
  }

  .main__image:last-child {
    max-width: 44.8125rem;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: -3rem;
  }

  .main__spinner {
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.625rem;
            flex: 0 0 45.625rem;
    margin-left: -4rem;
  }

  .main__spinner-image {
    width: 100%;
  }
}

@media (min-width: 1919.98px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .footer__feedback {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }

  .main__spinner {
    position: relative;
  }

  .main__spinner::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    width: 8.75rem;
    height: 8.75rem;
    z-index: 3;
    background: url("../img/maxresdefault.png") center/contain no-repeat;
  }

  .main__spinner::after {
    content: "";
    position: absolute;
    top: -2rem;
    right: -3rem;
    width: 11.25rem;
    height: 11.25rem;
    background: url("../img/screen.png") center/contain no-repeat;
  }
}

@media (any-hover: hover) {
  .popup__btn:hover::before {
    background: #131313;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #683df8;
  }

  .footer__link:hover {
    color: #8e6efa;
  }
}