// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600,700,800);

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Manrope";

// Шрифт по умолчанию

$md1: 1329.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1800); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #fff;
$accent: #8e6efa;
$green: #c8ea80;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

html {
	font-size: vwm(16);
	@media (min-width: $md5) {
		font-size: vwt(12);
	}
	@media (min-width: $md3) {
		font-size: vw(26);
	}
	@media (min-width: $md2) {
		font-size: vw(16);
	}
	@media (min-width: 1919.98px) {
		font-size: 16px;
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	color: $text;

	&.lock {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
}

// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: url("@img/bg-mobile.jpg") center 0 / cover no-repeat;
	@media (min-width: $md5) {
		background: url("@img/bg.jpg") center 0 / cover no-repeat;
	}
}

//================== ОБОЛОЧКА==================================

@import "./ui";

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	box-sizing: content-box;
	max-width: 100%;
	padding: 0 rem(15);
	max-width: $maxWidthContainer;
}

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
// ========================================================

.header {
	padding: 1.75rem 0 0rem;
	@media (min-width: $md3) {
		padding: 5.25rem 0 2rem;
	}
	// .header__container
	&__container {
		position: relative;
		display: flex;
		max-width: rem(1700);
		flex-direction: column;
		align-items: center;

		gap: 1.5rem;
		@media (min-width: $md2) {
			flex-direction: row;
		}
	}
	// .header__logo
	&__logo {
		width: 9rem;
		@media (min-width: $md5) {
			width: auto;
		}
		@media (min-width: $md2) {
			position: absolute;
			top: 0;
			left: 1rem;
			width: rem(260);
		}
	}
	// .header__title
	&__title {
		color: #fff;
		text-align: center;
		text-shadow: 0 rem(3.373) rem(3.373) rgba(0, 0, 0, 0.25);
		font-weight: 800;
		text-transform: uppercase;
		font-size: 1.45rem;
		line-height: 1;
		width: 100%;

		@media (min-width: $md5) {
			font-size: 2.875rem;
		}
		&.header__title-lg {
			@media (min-width: $md5) {
				font-size: 3.39081rem;
			}
		}
		& .lg-title {
			font-size: 1.25rem;
			display: block;
			margin-bottom: 0.8rem;
			@media (min-width: $md5) {
				margin-bottom: 1.06rem;
				font-size: 3.1875rem;
			}
		}
		@media (min-width: $md3) {
			max-width: 80%;
		}
		@media (min-width: $md2) {
			margin: 0 auto;
			max-width: rem(1320);
		}
	}
}

.footer {
	padding: 0.93rem 0 1.8rem;
	@media (min-width: $md5) {
		padding: 1.06rem 0;
	}
	background: #050505;
	// .footer__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.125rem;
		@media (min-width: $md5) {
			gap: 2rem;
			justify-content: stretch;
			flex-direction: row;
		}
		@media (min-width: $md2) {
			flex-wrap: nowrap;
		}
	}
	// .footer__logo
	&__logo {
		& img {
			width: 3.40569rem;
		}
	}
	// .footer__age
	&__age {
		& img {
			width: rem(36);
		}
	}
	// .footer__feedback
	&__feedback {
		font-size: 0.875rem;
		& a {
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}
	}
	// .footer__links
	&__links {
		font-size: 0.875rem;
		display: flex;
		gap: 2.06rem;
		order: 1;
		justify-content: center;
		flex: 0 0 100%;
		@media (min-width: $md5) {
			flex: 0 0 calc(50% - 2rem);
			justify-content: flex-start;
		}
		@media (min-width: $md2) {
			padding-left: 4.5rem;
			justify-content: center;
			order: 0;
			margin: 0 auto;
			flex: 0 1 auto;
		}
	}
	// .footer__link
	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .footer__socials
	&__socials {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.23rem;
		flex: 0 0 100%;
		@media (min-width: $md5) {
			margin-left: auto;
			flex: 0 1 auto;
			justify-content: stretch;
		}
		@media (min-width: $md2) {
			margin-left: 0;
		}
	}
	// .footer__social
	&__social {
		& img {
			width: rem(32);
		}
	}
	// .footer__payments
	&__payments {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.69rem;
		order: 1;
		flex: 0 0 100%;
		@media (min-width: $md5) {
			justify-content: flex-end;
			flex: 0 0 calc(50% - 2rem);
		}
		@media (min-width: $md2) {
			margin-left: 2rem;
			order: 0;
			flex: 0 1 auto;
		}
	}
	// .footer__payment
	&__payment {
		& img {
			max-height: 1.0995rem;
			@media (min-width: $md5) {
				max-height: 1.8125rem;
			}
		}
	}
}

.main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem 0 0 0;
	position: relative;
	@media (max-width: $md5) {
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: rem(228);
			height: rem(111);
			z-index: 3;
			pointer-events: none;
			filter: blur(rem(50));
			background-image: url("data:image/svg+xml,%3Csvg width='228' height='111' viewBox='0 0 228 111' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2016_3875' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='231' height='111'%3E%3Crect width='231' height='111' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2016_3875)'%3E%3Cellipse cx='168' cy='175.5' rx='166' ry='174.5' fill='url(%23paint0_linear_2016_3875)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2016_3875' x1='334' y1='175.5' x2='2' y2='175.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300EC9E'/%3E%3Cstop offset='1' stop-color='%238E6EFA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	@media (min-width: $md5) {
		padding: 0;

		&::before {
			content: "";
			position: absolute;
			bottom: -2rem;
			right: -4rem;
			width: rem(414);
			height: rem(464);
			pointer-events: none;
			background-image: url("data:image/svg+xml,%3Csvg width='414' height='464' viewBox='0 0 414 464' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='303.014' cy='363.412' rx='387.5' ry='270.5' transform='rotate(119.435 303.014 363.412)' fill='url(%23paint0_linear_2002_200)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2002_200' x1='690.514' y1='363.412' x2='-84.4856' y2='363.412' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300EC9E'/%3E%3Cstop offset='1' stop-color='%238E6EFA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
			filter: blur(rem(100));
		}
		&::after {
			content: "";
			position: absolute;
			bottom: -2rem;
			left: 0;
			width: rem(444);
			height: rem(175);
			pointer-events: none;
			filter: blur(rem(50));
			background-image: url("data:image/svg+xml,%3Csvg width='444' height='175' viewBox='0 0 444 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='69.1847' cy='383.889' rx='387.5' ry='370.599' transform='rotate(61.29 69.1847 383.889)' fill='url(%23paint0_linear_2002_196)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2002_196' x1='456.685' y1='383.889' x2='-318.315' y2='383.889' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300EC9E'/%3E%3Cstop offset='1' stop-color='%238E6EFA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	// .main__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: rem(1920);
		padding: 0;
		width: 100%;
		height: 100%;
		flex: 1 1 auto;
		flex-wrap: wrap;
		@media (min-width: $md2) {
			flex-wrap: nowrap;
		}
	}
	// .main__image
	&__image {
		position: relative;
		z-index: 2;
		display: none;
		@media (min-width: $md5) {
			display: flex;
			flex: 0 0 50%;
		}
		@media (min-width: $md2) {
			flex: 0 1 auto;
		}
		&:first-child {
			order: 1;

			align-self: flex-end;

			@media (min-width: $md2) {
				order: 0;
				margin-left: -9rem;
				max-width: rem(787);
				transform: translateY(2rem);
			}
		}
		&:last-child {
			order: 1;

			@media (min-width: $md2) {
				max-width: rem(635);
				order: 0;
				margin-right: -3.5rem;
			}
		}
		& img {
			width: 100%;
		}
	}
	&__image-mobile {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: flex-end;
		margin-top: auto;
		@media (min-width: $md5) {
			display: none;
		}
	}
	// .main__spinner
	&__spinner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 100%;
		margin-bottom: -8rem;
		@media (min-width: $md5) {
			margin-bottom: -16rem;
		}
		@media (min-width: $md2) {
			margin-bottom: 0;
			flex: 0 0 rem(730);
			margin-left: -4rem;
		}
	}
	// .main__spinner-main
	&__spinner-main {
		padding: 7% 6.5% 6.5%;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: url("@img/wheel-border.svg") center / contain no-repeat;
			pointer-events: none;
			z-index: 2;
		}
	}
	// .main__spinner-dots
	&__spinner-dots {
	}
	// .main__spinner-wheel
	&__spinner-wheel {
	}
	// .main__spinner-image
	&__spinner-image {
		position: relative;
		@media (min-width: $md4) {
			width: 60%;
		}
		@media (min-width: $md2) {
			width: 100%;
		}
		& img {
			width: 100%;
		}
	}
	// .main__spinner-wheel
	&__spinner-wheel {
		position: relative;
		z-index: 1;
		transition: transform 0.5s ease-out;
	}
	// .main__spinner-selector
	&__spinner-selector {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		& img {
			width: 2.8235rem;
			@media (min-width: $md5) {
				width: rem(108);
			}
		}
	}

	// .main__spinner-btn
	&__spinner-btn {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='310' height='310' viewBox='0 0 310 310' fill='none'%3E%3Cg filter='url(%23filter0_f_2002_193)'%3E%3Ccircle cx='155' cy='155' r='107' fill='url(%23paint0_linear_2002_193)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_2002_193' x='0' y='0' width='310' height='310' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='24' result='effect1_foregroundBlur_2002_193'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2002_193' x1='262' y1='155' x2='48' y2='155' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300EC9E'/%3E%3Cstop offset='1' stop-color='%238E6EFA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		color: #fff;
		text-shadow: 0 rem(4.966) rem(4.966) rgba(0, 0, 0, 0.25);
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		transition: transform 0.3s ease 0s;
		font-size: 1.1875rem;
		width: rem(130);
		height: rem(130);
		@media (min-width: $md5) {
			width: rem(310);
			height: rem(310);
			font-size: 3.11956rem;
		}
		& span {
			pointer-events: none;
			animation: pulse 1s ease infinite;
		}
	}
}
@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(var(--rotate-degrees));
	}
}

.dot {
	position: absolute;
	z-index: 2;
	height: 3.5%;
	width: 3.5%;
	border-radius: 50%;
	background-color: rgb(255 255 255 / 1);
	filter: drop-shadow(0 0 10px #ffffff);
	&:nth-child(1) {
		right: 36.3%;
		top: 4.6%;
	}

	&:nth-child(2) {
		right: 25.3%;
		top: 9%;
	}

	&:nth-child(3) {
		right: 15.8%;
		top: 16.4%;
	}

	&:nth-child(4) {
		right: 8.5%;
		top: 25.5%;
	}

	&:nth-child(5) {
		right: 4%;
		top: 36.5%;
	}

	&:nth-child(6) {
		right: 2.5%;
		top: 48.5%;
	}

	&:nth-child(7) {
		bottom: 36.5%;
		right: 4%;
	}

	&:nth-child(8) {
		bottom: 25.5%;
		right: 8.5%;
	}

	&:nth-child(9) {
		bottom: 15.8%;
		right: 15.8%;
	}

	&:nth-child(10) {
		bottom: 8.5%;
		right: 25.4%;
	}

	&:nth-child(11) {
		bottom: 4%;
		right: 36.5%;
	}

	&:nth-child(12) {
		bottom: 2.5%;
		left: 50%;
		transform: translateX(-50%);
	}

	&:nth-child(13) {
		bottom: 4%;
		left: 36.5%;
	}

	&:nth-child(14) {
		bottom: 8.5%;
		left: 25.4%;
	}

	&:nth-child(15) {
		bottom: 16%;
		left: 15.8%;
	}

	&:nth-child(16) {
		bottom: 25.5%;
		left: 8.5%;
	}

	&:nth-child(17) {
		bottom: 36.5%;
		left: 4%;
	}

	&:nth-child(18) {
		left: 2.3%;
		top: 48.3%;
	}

	&:nth-child(19) {
		left: 36.3%;
		top: 4.7%;
	}

	&:nth-child(20) {
		left: 25.3%;
		top: 9%;
	}

	&:nth-child(21) {
		left: 15.8%;
		top: 16.3%;
	}

	&:nth-child(22) {
		left: 8.5%;
		top: 25.8%;
	}

	&:nth-child(23) {
		left: 4%;
		top: 36.8%;
	}
}
