// Использование модулей SASS
@use 'sass:math';
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import 'mixins';
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,600,700,800);

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: 'Manrope';

// Шрифт по умолчанию

$md1: 1329.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1800); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #fff;
$accent: #8e6efa;
$green: #c8ea80;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

html {
	font-size: vwm(16);
	@media (min-width: $md5) {
		font-size: vwt(12);
	}
	@media (min-width: $md3) {
		font-size: vw(26);
	}
	@media (min-width: $md2) {
		font-size: vw(16);
	}
	@media (min-width: 1919.98px) {
		font-size: 16px;
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem(320);
	min-height: 100%;
	line-height: normal;
	color: $text;
	background-color: #0f172b;
	&.lock {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
}

// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: url('@img/bg-mobile.png') center 0 / cover no-repeat;
	@media (min-width: $md5) {
		background: url('@img/bg.png') center 0 / cover no-repeat;
	}
}

//================== ОБОЛОЧКА==================================

@import './ui';

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*='__container'] {
	margin: 0 auto;
	box-sizing: content-box;
	max-width: 100%;
	padding: 0 rem(15);
	max-width: $maxWidthContainer;
}

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
// ========================================================

.header {
	padding: 2.25rem 0 0rem;
	@media (min-width: $md3) {
		padding: 4.5rem 0 2rem;
	}
	// .header__container
	&__container {
		position: relative;
		display: flex;
		max-width: rem(1700);
		flex-direction: column;
		align-items: center;

		gap: 1.5rem;
		@media (min-width: $md2) {
			flex-direction: row;
		}
	}
	// .header__logo
	&__logo {
		width: rem(135);
		@media (min-width: $md5) {
			width: auto;
		}
		@media (min-width: $md2) {
			position: absolute;
			top: 0;
			left: 1rem;
			width: rem(260);
		}
	}
	// .header__title
	&__title {
		color: #fff;
		text-align: center;
		text-shadow: 0 rem(3.373) rem(3.373) rgba(0, 0, 0, 0.25);
		text-transform: uppercase;
		line-height: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		font-size: 2.625rem;
		margin-top: 0.5rem;
		font-weight: 800;
		@media (min-width: $md5) {
			margin-top: 0;
			font-size: 3.1875rem;
		}

		@media (min-width: $md3) {
			max-width: 80%;
		}
		@media (min-width: $md2) {
			margin: 0 auto;
			max-width: rem(1320);
		}
		& span {
			margin-top: 0.5rem;
			font-size: 1.625rem;
			@media (min-width: $md5) {
				font-size: 3.75rem;
			}
		}
	}
}

.footer {
	padding: 0.93rem 0 1.8rem;
	@media (min-width: $md5) {
		padding: 1.06rem 0;
	}
	background: #050505;
	// .footer__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		@media (min-width: $md5) {
			gap: 2rem;
			justify-content: stretch;
			flex-direction: row;
		}
		@media (min-width: $md2) {
			flex-wrap: nowrap;
		}
	}
	// .footer__logo
	&__logo {
		& img {
			width: 3.40569rem;
		}
	}
	// .footer__age
	&__age {
		& img {
			width: rem(36);
		}
		display: flex;
		gap: rem(21);
		align-items: center;
		font-size: 0.875rem;
		max-width: 14rem;
	}
	// .footer__feedback
	&__feedback {
		font-size: 0.875rem;
		font-weight: 300;
		@media (max-width: $md5) {
			order: 5;
			flex: 0 0 100%;
			text-align: center;
		}
		color: rgba($color: #fff, $alpha: 0.6);
	}
	// .footer__links
	&__links {
		font-size: 0.875rem;
		display: flex;
		gap: 2.06rem;
		order: 1;
		justify-content: center;
		flex: 0 0 100%;
		@media (min-width: $md5) {
			flex: 0 0 calc(50% - 2rem);
			justify-content: flex-start;
		}
		@media (min-width: $md2) {
			padding-left: 4.5rem;
			justify-content: center;
			order: 0;
			margin: 0 auto;
			flex: 0 1 auto;
		}
	}
	// .footer__link
	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}

	// .footer__payments
	&__payments {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.69rem;

		flex: 0 0 100%;
		@media (min-width: $md5) {
			justify-content: flex-end;
			flex: 0 0 calc(50% - 2rem);
		}
		@media (min-width: $md2) {
			margin-left: 2rem;

			flex: 0 1 auto;
		}
	}
	// .footer__payment
	&__payment {
		& img {
			max-height: 1.0995rem;
			@media (min-width: $md5) {
				max-height: 1.8125rem;
			}
		}
	}
}

.main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem 0 0 0;
	position: relative;

	@media (min-width: $md5) {
		padding: 0;
	}
	// .main__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: rem(1920);
		padding: 0;
		width: 100%;
		height: 100%;
		flex: 1 1 auto;
		flex-wrap: wrap;
		@media (min-width: $md2) {
			flex-wrap: nowrap;
		}
	}
	// .main__image
	&__image {
		position: relative;
		z-index: 3;
		display: none;

		@media (min-width: $md5) {
			display: flex;
			flex: 0 0 50%;
		}
		@media (min-width: $md2) {
			flex: 0 1 auto;
		}
		&:first-child {
			order: 1;
			align-self: flex-end;
			@media (min-width: $md2) {
				order: 0;
				max-width: rem(917);
				margin-right: -8rem;
			}
		}
		&:last-child {
			order: 1;
			@media (min-width: $md2) {
				max-width: rem(717);
				order: 0;
				margin-left: -3rem;
			}
		}
		& img {
			width: 100%;
		}
	}
	&__image-mobile {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: flex-end;
		margin-top: auto;
		@media (min-width: $md5) {
			display: none;
		}
	}
	// .main__spinner
	&__spinner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 100%;
		margin-bottom: -8rem;
		@media (min-width: $md5) {
			margin-bottom: -16rem;
		}
		@media (min-width: $md2) {
			margin-bottom: 0;
			flex: 0 0 rem(730);
			margin-left: -4rem;
		}
		@media (max-width: $md5) {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: -2rem;
				left: 0;
				width: rem(140);
				height: rem(140);
				z-index: 3;
				background: url('@img/maxresdefault.png') center / contain no-repeat;
			}
			&::after {
				content: '';
				position: absolute;
				top: -2rem;
				right: -3rem;
				width: rem(180);
				height: rem(180);
				background: url('@img/screen.png') center / contain no-repeat;
			}
		}
	}
	// .main__spinner-main
	&__spinner-main {
		padding: 7% 6.5% 6.5%;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background: url('@img/wheel-border.svg') center / contain no-repeat;
			pointer-events: none;
			z-index: 2;
		}
	}
	// .main__spinner-dots
	&__spinner-dots {
	}
	// .main__spinner-wheel
	&__spinner-wheel {
	}
	// .main__spinner-image
	&__spinner-image {
		position: relative;
		@media (min-width: $md4) {
			width: 60%;
		}
		@media (min-width: $md2) {
			width: 100%;
		}
		& img {
			width: 100%;
		}
	}
	// .main__spinner-wheel
	&__spinner-wheel {
		position: relative;
		z-index: 1;
		transition: transform 0.5s ease-out;
	}
	// .main__spinner-selector
	&__spinner-selector {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		& img {
			width: 2.8235rem;
			@media (min-width: $md5) {
				width: rem(108);
			}
		}
	}

	// .main__spinner-btn
	&__spinner-btn {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url('@img/btn-bg.png') center / contain no-repeat;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		color: #fff;
		text-shadow: 0 rem(4.966) rem(4.966) rgba(0, 0, 0, 0.25);
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		transition: transform 0.3s ease 0s;
		font-size: 1.1875rem;
		width: rem(130);
		height: rem(130);
		@media (min-width: $md5) {
			width: rem(246);
			height: rem(246);
			font-size: 3.11956rem;
		}
		& span {
			pointer-events: none;
			color: #fff;
			position: relative;
			z-index: 2;
			animation: pulse 1s ease infinite;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #01dd83;
			border-radius: 50%;
			filter: blur(24px);
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(var(--rotate-degrees));
	}
}

.dot {
	position: absolute;
	z-index: 2;
	height: 3.5%;
	width: 3.5%;
	border-radius: 50%;
	background-color: rgb(255 255 255 / 1);
	filter: drop-shadow(0 0 10px #ffffff);
	&:nth-child(1) {
		right: 36.3%;
		top: 4.6%;
	}

	&:nth-child(2) {
		right: 25.3%;
		top: 9%;
	}

	&:nth-child(3) {
		right: 15.8%;
		top: 16.4%;
	}

	&:nth-child(4) {
		right: 8.5%;
		top: 25.5%;
	}

	&:nth-child(5) {
		right: 4%;
		top: 36.5%;
	}

	&:nth-child(6) {
		right: 2.5%;
		top: 48.5%;
	}

	&:nth-child(7) {
		bottom: 36.5%;
		right: 4%;
	}

	&:nth-child(8) {
		bottom: 25.5%;
		right: 8.5%;
	}

	&:nth-child(9) {
		bottom: 15.8%;
		right: 15.8%;
	}

	&:nth-child(10) {
		bottom: 8.5%;
		right: 25.4%;
	}

	&:nth-child(11) {
		bottom: 4%;
		right: 36.5%;
	}

	&:nth-child(12) {
		bottom: 2.5%;
		left: 50%;
		transform: translateX(-50%);
	}

	&:nth-child(13) {
		bottom: 4%;
		left: 36.5%;
	}

	&:nth-child(14) {
		bottom: 8.5%;
		left: 25.4%;
	}

	&:nth-child(15) {
		bottom: 16%;
		left: 15.8%;
	}

	&:nth-child(16) {
		bottom: 25.5%;
		left: 8.5%;
	}

	&:nth-child(17) {
		bottom: 36.5%;
		left: 4%;
	}

	&:nth-child(18) {
		left: 2.3%;
		top: 48.3%;
	}

	&:nth-child(19) {
		left: 36.3%;
		top: 4.7%;
	}

	&:nth-child(20) {
		left: 25.3%;
		top: 9%;
	}

	&:nth-child(21) {
		left: 15.8%;
		top: 16.3%;
	}

	&:nth-child(22) {
		left: 8.5%;
		top: 25.8%;
	}

	&:nth-child(23) {
		left: 4%;
		top: 36.8%;
	}
}
