// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800);

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Manrope";

// Шрифт по умолчанию

$md1: 1329.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1780); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #fff;
$accent: #8e6efa;
$green: #c8ea80;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

html {
	font-size: vwm(16);
	@media (min-width: $md5) {
		font-size: vwt(12);
	}
	@media (min-width: $md3) {
		font-size: vw(26);
	}
	@media (min-width: $md2) {
		font-size: vw(16);
	}
	@media (min-width: 1919.98px) {
		font-size: 16px;
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem(320);
	min-height: 100%;
	line-height: normal;
	color: $text;

	&.lock {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
}

// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: url("@img/bg-mobile.png") center 0 / cover no-repeat, #240057;
	@media (min-width: $md5) {
		background: url("@img/bg.png") center 0 / cover no-repeat, #240057;
	}
}

//================== ОБОЛОЧКА==================================

@import "./ui";

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0 rem(15);
	max-width: $maxWidthContainer;
}

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
// ========================================================

.header {
	position: relative;
	z-index: 2;
	padding: 1.25rem 0 0rem;
	@media (min-width: $md3) {
		padding: 3rem 0 0rem;
	}
	// .header__container
	&__container {
		position: relative;
		display: flex;
		max-width: rem(1710);
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1.25rem;
		@media (min-width: $md3) {
			flex-wrap: nowrap;
			gap: 1.5rem;
		}
	}
	// .header__logo
	&__logo {
		max-width: 8.3125rem;
		@media (min-width: $md5) {
			max-width: 15.5rem;
		}
	}
	// .header__title
	&__title {
		text-align: center;
		color: #fff;
		text-align: center;
		font-weight: 500;
		line-height: 100%;
		text-transform: uppercase;
		font-size: 1.25rem;
		order: 1;
		flex: 0 0 100%;
		@media (min-width: $md5) {
			font-size: 2rem;
		}
		@media (min-width: $md3) {
			max-width: rem(760);
			order: 0;
			flex: 1 1 auto;
		}
	}
	// .header__btn
	&__btn {
		margin-left: auto;
		@media (min-width: $md3) {
			margin-left: 0;
		}
	}
}

.footer {
	position: relative;
	z-index: 2;
	padding: 0.93rem 0 1.8rem;
	@media (min-width: $md5) {
		padding: 1.06rem 0;
	}
	background: #050505;
	// .footer__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5rem;
		@media (min-width: $md5) {
			gap: 1.5rem;
			justify-content: stretch;
			flex-direction: row;
		}
		@media (min-width: $md2) {
			flex-wrap: nowrap;
		}
		max-width: rem(1840);
	}
	// .footer__logo
	&__logo {
		@media (min-width: $md2) {
			padding-left: 2rem;
		}
		& img {
			width: 2.41813rem;
			@media (min-width: $md2) {
				width: 3.40569rem;
			}
		}
	}
	// .footer__age
	&__age {
		& img {
			width: 1.875rem;
			@media (min-width: $md2) {
				width: rem(36);
			}
		}
	}
	// .footer__copyright
	&__copyright {
		font-size: 0.75rem;
		@media (min-width: $md2) {
			font-size: 0.875rem;
		}
		font-weight: 300;
	}
	// .footer__links
	&__links {
		display: flex;
		gap: 2.31rem;
		order: 1;
		justify-content: center;
		flex: 0 0 100%;
		font-size: 0.75rem;
		margin-top: 0.875rem;
		@media (min-width: $md5) {
			margin-top: 0;
			flex: 0 0 calc(50% - 2rem);
			justify-content: flex-start;
		}
		@media (min-width: $md2) {
			font-size: 0.875rem;
			justify-content: center;
			order: 0;
			margin: 0 auto;
			flex: 0 1 auto;
		}
	}
	// .footer__link
	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}

	// .footer__payments
	&__payments {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		order: 1;
		flex: 0 0 100%;
		max-width: 55%;
		margin-top: 1rem;
		column-gap: 0.575rem;
		@media (min-width: $md5) {
			margin-top: 0;
			max-width: 100%;
			justify-content: flex-end;
			flex: 0 0 calc(50% - 2rem);
		}
		@media (min-width: $md2) {
			margin-left: 2rem;
			order: 0;
			flex: 0 1 auto;
		}
	}
	// .footer__payment
	&__payment {
		& img {
			max-height: 2.3125rem;
			@media (min-width: $md5) {
				max-height: 2.3125rem;
			}
		}
	}
}

.main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	padding: 1rem 0 1.87rem 0;
	@media (min-width: $md3) {
		padding: 2rem 0 1.87rem 0;
	}
	// .main__container
	&__container {
		display: flex;
		justify-content: space-between;
		max-width: rem(1710);
		padding: 0 1rem;
		width: 100%;
		height: 100%;
		flex: 1 1 auto;
		flex-wrap: wrap;
		align-items: center;

		@media (min-width: $md3) {
			align-items: flex-start;
			flex-wrap: nowrap;
		}
	}

	// .main__spinner
	&__spinner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 100%;
		margin-top: 2.5rem;
		@media (min-width: $md3) {
			margin-top: 0;
			margin-bottom: 0;
			flex: 0 0 rem(540);
			margin-right: 4rem;
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(730);
		}
	}
	// .main__spinner-main
	&__spinner-main {
		padding: 5.5%;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: url("@img/wheel-border.svg") center / contain no-repeat;
			pointer-events: none;
			z-index: 2;
		}
	}
	// .main__spinner-dots
	&__spinner-dots {
	}
	// .main__spinner-wheel
	&__spinner-wheel {
	}
	// .main__spinner-image
	&__spinner-image {
		position: relative;
		width: 95%;
		@media (min-width: $md4) {
			width: 60%;
		}
		@media (min-width: $md3) {
			width: 100%;
		}
		& > img {
			width: 100%;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: #beb6ff;
			filter: blur(rem(76));
		}
	}
	// .main__spinner-decor-img
	&__spinner-decor-img {
		position: absolute;
		z-index: 2;
		pointer-events: none;
		&:nth-child(1) {
			@media (min-width: $md5) {
				width: rem(140);
			}
			@media (min-width: $md3) {
				top: 8.75%;
				left: -20%;
				width: rem(80);
			}
			@media (min-width: $md2) {
				left: -29%;
				width: rem(114);
			}
			@media (max-width: $md3) {
				top: -8.5%;
				right: -4%;
			}
			@media (max-width: $md5) {
				width: rem(70);
			}
		}
		&:nth-child(2) {
			@media (min-width: $md3) {
				top: 23.5%;
				left: -27.5%;
				width: rem(165);
			}
			@media (min-width: $md2) {
				width: rem(235);
			}
			@media (max-width: $md3) {
				display: none;
			}
		}
		&:nth-child(3) {
			bottom: -7.5%;
			right: -7.5%;
			@media (min-width: $md5) {
				width: rem(250);
			}
			@media (min-width: $md3) {
				bottom: -7.5%;
				right: -7.5%;
				width: rem(156);
			}
			@media (min-width: $md2) {
				width: rem(256);
			}
			@media (max-width: $md5) {
				width: rem(100);
			}
		}
	}
	// .main__spinner-wheel
	&__spinner-wheel {
		position: relative;
		z-index: 1;
		transition: transform 0.5s ease-out;
	}
	// .main__spinner-selector
	&__spinner-selector {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		top: -1.25rem;
		@media (min-width: $md3) {
			top: -2rem;
		}
		& img {
			width: 3.25rem;
			@media (min-width: $md5) {
				width: rem(108);
			}
		}
	}
	// .main__spinner-btn
	&__spinner-btn {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #8a6ff2;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
		transition: transform 0.3s ease 0s;
		font-size: 1.1875rem;
		width: rem(80);
		height: rem(80);
		@media (min-width: $md5) {
			width: 10.81425rem;
			height: 10.81425rem;
			font-size: 2.54669rem;
			font-weight: 800;
			letter-spacing: 0.02544rem;
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: url("@img/btn-bg.png") center / contain no-repeat;
			border-radius: 50%;
			box-shadow: 0 0 rem(20) #000;
		}
		& span {
			pointer-events: none;
			animation: pulse 1s ease infinite;
		}
	}
	// .main__body
	&__body {
		display: contents;
		@media (min-width: $md3) {
			max-width: 48.0625rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 4.75rem 0 2rem;
		}
		@media (min-width: $md2) {
			padding: 8.75rem 0 2rem;
		}
	}
	&__header {
		width: 100%;
		text-align: center;
		@media (min-width: $md3) {
			text-align: left;
		}
	}
	// .main__title
	&__title {
		font-weight: 700;
		line-height: 100%;
		text-transform: uppercase;
		font-size: 2.625rem;
		@media (min-width: $md5) {
			font-size: 4rem;
		}

		@media (min-width: $md2) {
			font-size: 6rem;
		}
	}
	// .main__subtitle
	&__subtitle {
		font-weight: 700;
		line-height: 100%;
		text-transform: uppercase;
		font-size: 1.25rem;
		margin-top: 0.94rem;
		text-align: center;
		width: 100%;
		@media (min-width: $md5) {
			font-size: 2.25rem;
		}
		@media (min-width: $md3) {
			text-align: left;
		}
		@media (min-width: $md2) {
			margin-top: 2.19rem;
			font-size: 3rem;
		}
	}
	// .main__label
	&__label {
		order: 1;
		padding: 1.56rem;
		@media (max-width: $md5) {
			padding: 0.94rem;
			margin-top: 1.75rem;

			font-size: 1.5rem;
		}
		@media (min-width: $md5) {
			max-width: 85%;
			margin-left: auto;
			margin-right: auto;
			font-size: 3.5rem;
			margin-top: 4.75rem;
		}
		@media (min-width: $md2) {
			margin-top: 6.75rem;
			max-width: 41.6875rem;
			font-size: 4rem;
		}
		border-radius: 7.15625rem;
		background: linear-gradient(91deg, #8a6ff2 -13.61%, #02e8a4 108.25%);
		color: #fff;
		text-align: center;
		font-weight: 700;
		line-height: 100%;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			inset: rem(2.5);
			@media (min-width: $md2) {
				inset: rem(5);
			}
			background: #4d3177;
			z-index: -1;
			backdrop-filter: blur(rem(10));
			-webkit-backdrop-filter: blur(rem(10));
			border-radius: 7.15625rem;
		}
	}
	// .main__label-link
	&__label-link {
		color: #fff;
		font-weight: 500;
		line-height: 100%;
		text-transform: uppercase;
		transition: color 0.3s ease 0s;
		font-size: 1.125rem;
		margin-top: 0.4rem;
		@media (min-width: $md5) {
			margin-top: 0.94rem;
			font-size: 2.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #8a6ff2;
			}
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(var(--rotate-degrees));
	}
}

.dot {
	position: absolute;
	z-index: 2;
	height: 3.5%;
	width: 3.5%;
	border-radius: 50%;
	background-color: rgb(255 255 255 / 1);
	filter: drop-shadow(0 0 10px #ffffff);

	&:nth-child(1) {
		right: 25.3%;
		top: 8%;
	}

	&:nth-child(2) {
		right: 8.5%;
		top: 25%;
	}

	&:nth-child(3) {
		right: 2%;
		top: 48%;
	}
	&:nth-child(4) {
		bottom: 25.5%;
		right: 8.25%;
	}
	&:nth-child(5) {
		bottom: 8.5%;
		right: 25%;
	}
	&:nth-child(6) {
		bottom: 2.5%;
		left: 50%;
		transform: translateX(-50%);
	}
	&:nth-child(7) {
		bottom: 8.5%;
		left: 25%;
	}
	&:nth-child(8) {
		bottom: 25.5%;
		left: 8.5%;
	}
	&:nth-child(9) {
		left: 2.3%;
		top: 48%;
	}
	&:nth-child(10) {
		left: 25.3%;
		top: 8%;
	}
	&:nth-child(11) {
		left: 8.25%;
		top: 25%;
	}
}
