//============ МОДУЛИ ====================
@import "modules/popup";
// @import "modules/breadcrumbs";
// @import "modules/before-slider";
// @import "modules/datepicker";
@import "modules/select";
@import "modules/tooltip";

//============ МОДУЛИ ====================

.color-accent {
	color: $accent;
}

.color-green {
	color: $green;
}

.title {
	font-weight: 600;
	line-height: 93%;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: -0.075rem;
	@media (min-width: $md4) {
		letter-spacing: -0.13125rem;
		font-size: 2.625rem;
	}
}

.title-sm {
	font-weight: 600;
	line-height: 93%;
	text-transform: uppercase;
	font-size: 1.125rem;
	letter-spacing: -0.05625rem;
	@media (min-width: $md4) {
		letter-spacing: -0.075rem;
		font-size: 1.5rem;
	}
}

.section-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
	@media (min-width: $md4) {
		text-align: left;
		justify-content: space-between;
		flex-direction: row;
	}
	// .section-header__title
	&__title {
		max-width: 28rem;
	}
	// .section-header__desc
	&__desc {
		color: rgba(255, 255, 255, 0.51);
		font-weight: 300;
		line-height: 131%;
		font-size: 1rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
			text-align: right;
			max-width: 22rem;
		}
	}
}

.btn-copy {
	color: $accent;
	transition: color 0.3s ease 0s;
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	position: relative;
	@media (any-hover: hover) {
		&:hover {
			color: darken($color: $accent, $amount: 10);
		}
	}
	.tooltip {
		bottom: calc(100% + 0.25rem);
		&::after {
			border-top: rem(5) solid #171434;
			bottom: rem(-4);
		}
	}
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
	justify-content: center;
}

.mobile-only {
	@media (min-width: $md4) {
		display: none !important;
	}
}
.pc-only {
	@media (max-width: $md4) {
		display: none !important;
	}
}

// ._loading {
// 	color: transparent;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		border: 3px solid #fff;
// 		border-bottom-color: transparent;
// 		border-radius: 50%;
// 		transform-origin: center;
// 		animation: rotation 1s linear infinite;
// 		z-index: 3;
// 	}
// }

// @keyframes rotation {
// 	0% {
// 		transform: translate(-50%, -50%) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: darken(
	$color: $scrollbarColor,
	$amount: 10,
);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #141113;
}
::-webkit-scrollbar-thumb {
	background: #352c33;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
